* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;

    height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

svg.icon {
    fill: white;
}

.navbar {
    grid-column: 1;
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;

    color: white;
    background-color: #0088ff;
}

.navbar>* {
    margin-left: 25px;
}

.logo,
.nav-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    align-self: start;
}

.logo h1,
.nav-item h2 {
    font-weight: normal;
}

.menu {
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px 50px;

    background-color: white;
    box-shadow: 2px 2px 10px #b1b1b1;
    z-index: 1;
}

.menu-top {
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr auto;
    gap: 250px;

}

.menu-top-left {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.menu-top-right {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 50px;
}

.menu-bottom {
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    gap: 50px;
}

.menu-btn {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #0088ff;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.menu-bottom-left {
    display: flex;
}

.greeting-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-btn {
    fill: #333333;
}

#search-bar {
    background-color: rgb(229, 229, 229);
    height: 40px;
    border: none;
    border-radius: 40px;
    padding-left: 20px;
}

.content {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr auto;
    gap: 25px;
    padding: 25px;

    background-color: lightgrey;
}

.main-content {
    display: grid;
    grid-template-rows: auto 1fr;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project-tile {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    height: auto;
    border-left: 10px solid orange;
}

.project-buttons {
    justify-self: end;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sidebar-content>div {
    width: 250px;
}

.project-tile,
.announcements,
.trendy-users {
    border-radius: 10px;
    padding: 25px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px #b1b1b1;
}

.announcement {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    padding-top: 20px;
}

.announcement:first-of-type {
    padding-top: 0;
}

.announcement:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.trendy-users {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.trendy-user {
    display: flex;
}

.trender-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.trender-text>*,
.announcement>*,
.project-text>*,
.greeting-box>* {
    margin: 0;
    padding: 0;
}

p {
    color: grey;
}