body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr; 

    height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

svg {
    fill: white;
}

.navbar {
    grid-column: 1;
    grid-row: 1 / -1;

    color: white;
    background-color: #0088ff;
}

.logo,
.nav-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}


.menu {
    grid-column: 2;
    grid-row: 1;

    background-color: white;  
}

.content {
    grid-column: 2;
    grid-row: 2;

    background-color: lightgrey;
}